*{margin:0;padding:0}
body{
    background-color: #efefef;
}

.block{
    background-color: #fff;
}

#main{
    margin-top: 100px;
}
#left{

}
#right{

}

.article-list{
    margin-right: 20px;
    padding: 20px 20px 0 20px;
    border: 1px solid #ddd;
}

.article-content{
    margin-right: 20px;
    padding: 20px 20px 0 20px;
    border: 1px solid #ddd;
}





.article-item{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.article-link{
    background-color: green;
}
.article-name{
    color:#499ef3 !important;
}
.article-statistics{
    margin-top: 2px;
    font-size: 0.8rem;
    color: #999;
}
.contribution-avatar{
    width: 40px;
    border-radius:50%;
    border: 2px solid #fff;
    margin-right: -20px;
}

#article-detail{

}



/*右侧分类*/
.article-category{
    margin-bottom: 8px;
}

.article-category-name{
    color:#499ef3;
}

.article-category-info{
    font-size: 0.8rem !important;
    color: #999;
}