/**
 * 顶部
 */
#footer{
    margin-top: 50px;
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
    background-color: #555;
    color:#fff;
}

#footer-info{
    margin: 20px 0;
}

.footer-block{
    text-align: center;
    border-left: 2px solid #777;
}
.footer-block:last-child{
    border-right: 2px solid #777;
}

#icp{
    padding: 20px 0;
    text-align: center;
    background-color: red;
}